<div class="col-md-4" *ngFor= "let persona of personas">
  <div class="card text-center">
    <div class="card-header bg-dark text-white d-flex justify-content-between aling-items-center">
      {{persona.nombre}} {{persona.apellidoPaterno}} {{persona.apellidoMaterno}}
      <button class="btn btn-danger" (click)="deletePersona(persona.id)">
        <i class="far fa-trash-alt"></i>
      </button>
    </div>
    <img src="/assets/usuario.png" alt="Card image cap" class="img-fluid">
    <div class="card-body">
      <p>{{persona.direccion}}</p>
      <p>{{persona.telefono}}</p>
      <a [routerLink]="['/personas/edit', persona.id]" class="btn btn-info btn-block">
        EDITAR PERSONA
      </a>
    </div>
  </div>
</div>
